---
layout: page
---
<link rel="stylesheet" href="/js/prettify/prettify.css" />
<div class="entry">
    {{ content }}
    如果您觉得有帮助，就尽情分享或者<a href="/about" target="_blank">关注我吧</a>：<br/>
    <!--<a href='http://me.alipay.com/beiyuu' target="_blank" style="float:left;"><img src='https://img.alipay.com/sys/personalprod/style/mc/btn-index.png' style="display:inline" /></a>-->
    <div style="float:left;width:160px;">
    <iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1855270953&verifier=375b89d6&colors=d6f3f7,F8F8F0,666666,0082cb,ecfbfd&dpc=1"></iframe>
    </div>
    <div id="jiathis_style_32x32" style="float:left;margin-left:20px;margin-top:35px;">
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_douban"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_renren"></a>
        <a class="jiathis_button_douban9dian"></a>
        <!--<a class="jiathis_button_readitlater"></a>-->
        <!--<a class="jiathis_button_instapaper"></a>-->
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <!--<a class="jiathis_counter_style"></a>-->
    </div>
    <div style="clear:both"></div>
</div><!-- .entry -->
<div id="disqus_container"> 
    <a href="#" class="comment" onclick="return false;">点击查看评论</a>
    <div id="disqus_thread"></div>
</div> 
<script type="text/javascript">
    $(document).ready(function(){
        $('pre').addClass('prettyprint linenums') //添加Google code Hight需要的class

        $('#disqus_container .comment').on('click',function(){
            $(this).html('加载中...');
            var disqus_shortname = 'beiyuu';
            var that = this;
            BYB.includeScript('http://' + disqus_shortname + '.disqus.com/embed.js',function(){$(that).remove()});
        });

        $('.entry a').each(function(index,element){
            var href = $(this).attr('href');
            if(href){
                if(href.indexOf('#') == 0){
                }else if ( href.indexOf('/') == 0 || href.toLowerCase().indexOf('beiyuu.com')>-1 ){
                }else if ($(element).has('img').length){
                }else{
                    $(this).attr('target','_blank');
                    $(this).addClass('external');
                }
            }
        });

        if($('h2').length > 2){
            var h2 = [],h3 = [],tmpl = '<ul>',h2index = 0;

            var findScrollableElement = function(els) {
                for (var i = 0, argLength = arguments.length; i < argLength; i++) {
                    var el = arguments[i],
                    $scrollElement = $(el);
                    if ($scrollElement.scrollTop() > 0) {
                        return $scrollElement;
                    } else {
                        $scrollElement.scrollTop(1);
                        var isScrollable = $scrollElement.scrollTop() > 0;
                        $scrollElement.scrollTop(0);
                        if (isScrollable) {
                            return $scrollElement;
                        }
                    }
                }
                return [];
            };

            $.each($('h2,h3'),function(index,item){
                if(item.tagName.toLowerCase() == 'h2'){
                    var h2item = {};
                    h2item.name = $(item).text();
                    h2item.id = 'menuIndex'+index;
                    h2.push(h2item);
                    h2index++;
                }else{
                    var h3item = {};
                    h3item.name = $(item).text();
                    h3item.id = 'menuIndex'+index;
                    if(!h3[h2index-1]){
                        h3[h2index-1] = [];
                    }
                    h3[h2index-1].push(h3item);
                }
                item.id = 'menuIndex' + index
            });

            //添加h1
            tmpl += '<li class="h1"><a href="#" data-top="0">'+$('h1').text()+'</a></li>';

            for(var i=0;i<h2.length;i++){
                tmpl += '<li><a href="#" data-id="'+h2[i].id+'">'+h2[i].name+'</a></li>';
                if(h3[i]){
                    for(var j=0;j<h3[i].length;j++){
                        tmpl += '<li class="h3"><a href="#" data-id="'+h3[i][j].id+'">'+h3[i][j].name+'</a></li>';
                    }
                }
            }
            tmpl += '</ul>';

            var $scrollable = findScrollableElement('body','html');
            $('body').append('<div id="menuIndex"></div>');
            $('#menuIndex').append($(tmpl)).delegate('a','click',function(e){
                e.preventDefault();
                var scrollNum = $(this).attr('data-top') || $('#'+$(this).attr('data-id')).offset().top;
                //window.scrollTo(0,scrollNum-30);
                $scrollable.animate({ scrollTop: scrollNum-30 }, 400, 'swing');
            })

            $(window).load(function(){
                var scrollTop = [];
                $.each($('#menuIndex li a'),function(index,item){
                    if(!$(item).attr('data-top')){
                        var top = $('#'+$(item).attr('data-id')).offset().top;
                        scrollTop.push(top);
                        $(item).attr('data-top',top);
                    }
                });

                $(window).scroll(function(){
                    var nowTop = $(window).scrollTop(),index,length = scrollTop.length;
                    if(nowTop+60 > scrollTop[length-1]){
                        index = length
                    }else{
                        for(var i=0;i<length;i++){
                            if(nowTop+60 <= scrollTop[i]){
                                index = i
                                break;
                            }
                        }
                    }
                    $('#menuIndex li').removeClass('on')
                    $('#menuIndex li').eq(index).addClass('on')
                });
            });

            //用js计算屏幕的高度
            $('#menuIndex').css('max-height',$(window).height()-80);
        }

        BYB.includeScript('/js/prettify/prettify.js',function(){prettyPrint()});

        BYB.includeScript('http://v2.jiathis.com/code/jia.js',function(){})
    });
</script>
