-r requirements.lock.txt
attrs==26.1.0
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==26.3
pluggy==1.6.0
Pygments==2.21.0
pytest==9.1.1
referencing==0.37.0
rpds-py==2026.6.3
contourpy==1.4.0
cycler==0.12.1
fonttools==4.65.0
kiwisolver==1.5.1
matplotlib==3.11.2
numpy==2.5.3
pandas==3.0.6
pillow==12.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.3.post1
six==1.17.0
tzdata==2026.4
