---
layout:           default
---
<div id="head">
    <div class='logo left'>
        <a href="/" title="Home">BeiYuu.com</a>
    </div>
    <div id="header">
        <div class="nav right">
            <a href="/blog" title="Thoughts On Something">Blog</a>
            <a href="/project" title="Projects Ongoing">Project</a>
            <a href="/wiki" title="Wiki" >Wiki</a>
            <a href="/about" title="About BeiYuu" >About</a>
            <a href="{{ site.feed }}" rel="feed" title="Subscribes The Feed" target="_blank">RSS</a>
        </div><!-- .nav -->
    </div><!-- #header -->
</div><!-- #head -->
<div id="content">
    {{ content }}
</div><!-- #content --> 
<div id="footer">
    <div class="copyright right">
        {% for line in site.copyright %}
        <p>{{ line }}</p>
        {% endfor %}
    </div>
</div><!-- #footer -->
