<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ '/assets/images/logo.svg' | relative_url }}">

<link rel="alternate" hreflang="en" href="{{ '/' | absolute_url }}">
<link rel="alternate" hreflang="zh-Hans" href="{{ '/zh/' | absolute_url }}">
<link rel="alternate" hreflang="x-default" href="{{ '/' | absolute_url }}">

{% if page.lang == 'zh-CN' %}
  <meta property="og:locale:alternate" content="en_US">
{% else %}
  <meta property="og:locale:alternate" content="zh_CN">
{% endif %}
<meta name="robots" content="index, follow, max-image-preview:large">
